[toolchain]
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
seeker_app = "8p7ZHdKM6psXb1wZkMyZdbxBa8yV5DXd5pSdh9WnSFyY"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[test.validator]
reset = true
ledger = ".anchor/test-ledger"
rpc_port = 8899

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
